/* -[items header]- */
.brand-and-toggler{
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
}
.nav-brand img{
    width: 80px;
    height: 50px;
}
.nav-toggler{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    transition: all .3s;
    color: var(--color-secondary);
}
.nav-toggler:hover{
    opacity: .8;
}
.nav-collapse{
    height: 0;
    overflow: hidden;
    transition: all .3s;
}
.nav-item{
    padding: 0.6em;
    position: relative;
    text-align: center;
}
.nav-active .nav-link{
    color: var(--color-thema);
}
.nav-link::after{
    background-color: var(--color-thema);
    transform: translateX(-50%);
    transition: all .3s;
    border-radius: 5px;
    position: absolute;
    bottom: 4px;
    height: 2px;
    content: "";
    left: 50%;
    width: 0;
}
.nav-link:hover::after{
    width: 60px;
}
.nav-link{
    font-size: 1rem;
    transition: all .3s;
    text-transform: uppercase;
    color: var(--ff-secondary);
}
.nav-link:hover{
    color: var(--color-thema);
}
.show-nav{
    height: 390px;
}

/* -[home items]- */
.slider{
    width: 100%;
    position: relative;
    background-color: var(--color-primary);
}
.lmix-slider{
    height: 655px;
    display: none;
    overflow: hidden;
}
.home .prev, .home .next{
    top: 50%;
    padding: 15px;
    font-size: 50px;
    position: absolute;
    transform: translate(0, -50%);
    color: var(--color-secondary);

    cursor: pointer;
    transition: 0.1s;
    user-select: none;
}
.home .prev:hover, .home .next:hover{
    color: var(--color-thema);
}
.home .next{
    right: 0;
}
.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.dot{
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 3px solid #FFF;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
}
.enable, .dot:hover{
    color: var(--color-thema);
    background-color: var(--color-thema);
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;

    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from{opacity: 0.8;}
    to{opacity: 1;}
}
@keyframes fade {
    from{opacity: 0.8;}
    to{opacity: 1;}
}
.div-txt{
    position: absolute;
    color: var(--color-secondary);
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;

    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}
@-webkit-keyframes posi {
    from{left: 25%;}
    to{left: 15%;}
}
@keyframes posi {
    from{left: 25%;}
    to{left: 15%;}
}

.div-txt h1{
    font-weight: bold;
    color: var(--color-thema);
    margin-bottom: 20px;
}
.div-txt p{
    font-style: 20px;
    font-weight: bold;
}
img{
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;

    animation-name: zoonin;
    animation-duration: 40s;
}
@-webkit-keyframes zoomin {
    from{transform: scale(1, 1);}
    to{transform:scale(1.5, 1.5);}
}
@keyframes zoomin {
    from{transform: scale(1, 1);}
    to{transform:scale(1.5, 1.5);}
}
@media screen and (max-width: 800px) {
    .lmix-slider{
        height: 500px;
    }
    .div-txt{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        
        animation-name: posi2;
        animation-duration: 2s;
    }
    @-webkit-keyframes posi2 {
        from{top: 35%;}
        to{top: 50%;}
    }
    @keyframes posi2 {
        from{top: 35%;}
        to{top: 50%;}
    }
    .div-txt h1{
        font-size: 40px;
    }
    .div-txt p{
        font-size: 13px;
    }
}
/* ---------------------  MIXES ----------------- */
.mixes{
    color: var(--color-secondary);
    background-color: #B2000060;
    font-weight: normal;
    letter-spacing: .6;
}
.mixes .row{
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
}
.mixes .m-header{
    text-align: center;
}
.mixes .m-header h1{
    font-style: 50px;
    font-weight: 400;
    margin-bottom: 0;
}
.mixes .m-header p{
    font-weight: 300;
    padding: 0 130px;
    line-height: 26px;
}
.mixes nav{
    width: 100%;
    display: inline-block;
    border-top: 1px solid;
}
.mixes nav ul{padding-left: 0;}
.mixes nav ul.mr-left{float: left;}
.mixes nav ul.mr-right{float: right;}
.mixes nav ul li{display: inline-block; margin-right: 25px;}
.mixes nav ul li:last-child{margin-right: 0;}
.mixes .auto-play label{display: flex; align-items: center;}
.mixes .auto-play h5{margin: 0; font-weight: 500;}
.mixes .auto-play span{
    width: 60px;
    height: 25px;
    margin-left: 5px;
    position: relative;
    border-radius: 50px;
    display: inline-block;
    transition: all ease 0.5s;
    border: 2px solid var(--color-thema);
}
.mixes .auto-play span::before{
    top: 1px;
    left: 2px;
    content: '';
    width: 20px;
    height: 19px;
    position: absolute;
    border-radius: 50px;
    transition: all ease 0.5s;
    background: var(--color-thema);
}
.mixes .auto-play input:checked ~ span{
    border-color: #CC0000;
    background: rgb(204 0 0 / .2);
    box-shadow: 0 5px 25px rgb(204 0 0 / .5), 0 0 25px rgb(204 0 0 / .5);
}
.mixes .auto-play input:checked ~ span::before{
    left: 34px;
    background: #CC0000;
    box-shadow: 0 5px 25px rgb(204 0 0 / .5), 0 0 25px rgb(204 0 0 / .5);
}
.auto-play input{display: none;}
.mixes .box-container{margin-top: 30px;}
.mixes .box-container .title{
    color: #FFF;
    display: flex;
    padding: 20px 5px;
    border-radius: 10px;
    background: var(--color-thema);
}
.mixes .box-container .title span{font-size: 20px;}
.mixes .box-container .title span:nth-child(1){width: 8%;}
.mixes .box-container .title span:nth-child(2){width: 35%;}
.mixes .box-container .title span:nth-child(3){width: 16%;}
.mixes .box-container .title span:nth-child(4){width: 16%;}
.mixes .box-container .title span:nth-child(5){width: 10%;}
.mixes .box-container .title span:nth-child(6){width: 10%;}
.mixes .box-container .list_block{
    display: flex;
    margin-top: 25px;
    padding: 20px 5px;
    position: relative;
    align-items: center;
    border-radius: 10px;
    border: 1px solid transparent;
    background: var(--color-primary);
}
.mixes .box-container .list_block span{font-size: 16px; font-weight: 400;}
.mixes .box-container .list_block .btn-baixar{position: absolute; right: 30px;}
.mixes .box-container .list_block .btn-baixar:hover{opacity: .7;}


/* ANIMATION */
.wave-animation ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.wave-animation ul li{
    width: 3px;
    opacity: .1;
    height: 40px;
    margin: 0 5px;
    display: inline-block;
    background-color: #FFF;
    transform-origin: bottom;
    animation-play-state: paused;
    animation: beat 1s linear 0s infinite;
}
@keyframes beat{
    50%{
        transform: scaleY(0);
    }
}
.wave-animation li:nth-child(1){
    animation-delay: .2s;
}
.wave-animation li:nth-child(2){
    animation-delay: .4s;
}
.wave-animation li:nth-child(4){
    animation-delay: .3s;
}

/* ---------------------  LIVES ----------------- */


/* -[Media Queries]- */
/* 992px */
@media screen and (min-width: 992px){
    .nav-toggler{
        display: none;
    }
    .navbar .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .nav-collapse{
        height: 100%;
        font: 1px 0 auto;
    }
    .nav-collapse-items{
        display: flex;
        justify-content: flex-end;
    }
}